.filter-nav {
    height: 60px;
    display: flex;
    position: sticky;
    top: 137px;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px 4%;
    border-bottom: 1px solid var(--border-color);
    font-family: "Poppins", sans-serif;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  transition: 0.25s;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links li span {
    color: var(--accent);
}

.nav-links a.active {
  color: var(--primary-color );
  font-weight: 600;
}

/* ====== Responsive ====== */
/* ====== Tablet (<= 1024px) ====== */
@media (max-width: 1024px) {
  .filter-nav {
    display: none;
  }
}

/* ====== Mobile (<= 768px) ====== */
@media (max-width: 768px) {
  .filter-nav {
    display: none;
  }
}

/* ====== Small Mobile (<= 480px) ====== */
@media (max-width: 480px) {
  .filter-nav {
    display: none;
  }
}
