.verify-registration-form{
    h1{
        margin-bottom: 10px;
        text-align: center;
    }
    p{
        margin-bottom: 20px;
    }
    .form-field{
        button{
            margin-top: 10px;
        }
    }
}