/* Gia Hy-s4053650 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');


:root {
  --primary-color: #007bff;
  --hover-btn: #0054ad;
  --text-color: #253D4E;
  --bg-color: #fdfeff;
  --accent: #f59e0b;
  --hover-accent: #a56800;
  --border-color: #CED4DA;
}

html, body { height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  background-color: var(--bg-color);
  margin: 10px 4%;
  overflow-x: hidden;       /* chặn scroll ngang */
  overflow-y: hidden;
  min-height: 100dvh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

/* Unfreeze scroll (global fix) */
html, body {
  height: auto !important;
  min-height: 100% !important;
  overflow-y: auto !important;
  overscroll-behavior: auto !important;
}
main { overflow: visible !important; } 
