.without-sidebar {
    padding: 0 4%;
}

#deals,
#top,
#categories,
#mall,
#popular,
#about,
#contact {
  scroll-margin-top: var(--sticky-offset, 150px); /* fallback 120px */
}

html { scroll-behavior: smooth; }